.main-btn{
  border:none;
  font-size: $fontBasic;
  padding-top:.7rem;
  padding-bottom: .7rem;
  text-align: center;
  overflow: hidden;
  -webkit-appereance:none;
  position: relative;
  background-color:transparent;
  border-width: 2px;
  border-style: solid;
  width: 100%;
  font-weight: 900;
  font-size: $fontMedium;
  transition:$transitionDefault;
  color:$colorMainWhite;
  max-width: 640px;
  cursor: pointer;
  &:hover{

    border-color:  currentColor;
    &:after{
      left:-100%;
    }
  }
  &--arrowed{
    padding-right: 3em;
    &:before{
      content:'';
      position: absolute;
      top:33%;
      right:17.5%;

      @extend .svg-icons--arrow;
      width: 18.5%;
      height: 28px;
      background-position: 95% 0;
    }
  }
  &--first-color{

    &:after{
      background-color: $colorMain;
    }
    &:hover{
      color:$colorMain;
    }
  }
  &--second-color{

    &:after{
      background-color: $colorSecondaryAccent;
    }
    &:hover{
      color:$colorSecondaryAccent;
    }
  }
  &--third-color{

    &:after{
      background-color: $colorMainThird ;
    }
    &:hover{
      color:$colorMainThird;
    }
  }
  &:after{
    content:'';
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: -1;

    transition:$transitionDefault
  }
  &--disactive {
    border-color:  currentColor;
    &:after{
      left:-100%;
    }
    &:hover{
      color:$colorMainWhite;
      &:after{
        left:0;
      }
    }
  }
}
.mystery-btn{
  border:none;
  @extend .svg-icons--burger;
  @extend .svg-icons--burger-dims;
  position: fixed;
  top: 7.13vh;
  right: 4.4vw;
  z-index: 3;

}
