// Colors

$colorMain : #FF6E20;
$colorMainAccentLight : #FFB78F;
$colorError : #EB5757;
$colorSecondary: #EBBD80;
$colorSecondaryAccent:#D77B00;
$colorMainThird : #E93A29;
$colorMainThirdAccent: #F39B93;
$colorMainGrey : #c4c4c4;
$colorMainGreyLight: #333;
$colorMainWhite : #fff;
// Calculate
 $makrupFullWidth : 1280;
 $markupFullHeight : 720;
// Transitions
$transitionDefault : .35s ease-in-out;

// font-size
$fontSmall : .5rem;
$fontBasic : 1rem;
$fontMedium : 1.5rem;
